SIMULATION_WITH_NVBOARD=0
#1=> use NVBOARD
#0=> use CPP simulation only 
LANGUAGE_OPTION=1
#1=> use chisel
#0=> use verilog
SIMULATION_TIME_UNIT=1ms
#support 1/10/100fs/ps/ns/us/ms/s, act on "#n" delay in verilog
SIMULATION_TIME_PRESICION=1ms
#support 1/10/100fs/ps/ns/us/ms/s, the unit of wavefrom trace
ENABLE_WAVEFROM_ACQUISITION=1
#whether generate record wavefrom 
DELAY_WHILE_RUNNING_NVBOARD=1
#IMPORTANT NOTICE:0 means NVBOARD will run as fast as possible, leading to large wavefrom record and unstable
#ms
#Set it to zero to accelerate simulation if necessary, such as using vga
AUTO_GEN_BIND_CONFIG=1 
#generate new top.nxdc from top.nxdclite automatically
